.card {
  border: 1px solid gray;
  border-radius: 8px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 10px 6px -3px #777;
  border-color: transparent;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.subData {
  display: flex;
  flex-direction: column;
}

.divBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  color: gray;
}

.insideData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 415px) {
  .divBox {
    flex-direction: column;
  }
}
